In [1]:
import pandas as pd
from apyori import apriori
from mlxtend.frequent_patterns import apriori, association_rules
import numpy as np

In [2]:
df=pd.read_csv('Groceries_dataset.csv')

In [3]:
df.head(10)

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk
5           4941  14-02-2015        rolls/buns
6           4501  08-05-2015  other vegetables
7           3803  23-12-2015        pot plants
8           2762  20-03-2015        whole milk
9           4119  12-02-2015    tropical fruit

In [4]:
#create true/false for every product in shop
after_dummies=df.itemDescription.str.get_dummies()
after_dummies[0:5]

,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,bags,baking powder,bathroom cleaner,beef,berries,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [5]:
#concat two dataframes
df_v = pd.concat([df, after_dummies], axis=1)
df_v.shape

(38765, 170)

In [9]:
list_of_columns=df_v.columns[3:170]
res=df_v.groupby(['Member_number','Date'])[list_of_columns].agg('sum')
res.head(10)

#b=res.ge(2).sum()

                          Instant food products  UHT-milk  abrasive cleaner  \
Member_number Date
1000          15-03-2015                      0         0                 0
              24-06-2014                      0         0                 0
              24-07-2015                      0         0                 0
              25-11-2015                      0         0                 0
              27-05-2015                      0         0                 0
1001          02-05-2015                      0         0                 0
              07-02-2014                      0         0                 0
              12-12-2014                      0         0                 0
              14-04-2015                      0         0                 0
              20-01-2015                      0         0                 0

                          artif. sweetener  baby cosmetics  bags  \
Member_number Date
1000          15-03-2015                 0               0     0
              24-06-2014                 0               0     0
              24-07-2015                 0               0     0
              25-11-2015                 0               0     0
              27-05-2015                 0               0     0
1001          02-05-2015                 0               0     0
              07-02-2014                 0               0     0
              12-12-2014                 0               0     0
              14-04-2015                 0               0     0
              20-01-2015                 0               0     0

                          baking powder  bathroom cleaner  beef  berries  ...  \
Member_number Date                                                        ...
1000          15-03-2015              0                 0     0        0  ...
              24-06-2014              0                 0     0        0  ...
              24-07-2015              0                 0     0        0  ...
              25-11-2015              0                 0     0        0  ...
              27-05-2015              0                 0     0        0  ...
1001          02-05-2015              0                 0     0        0  ...
              07-02-2014              0                 0     0        0  ...
              12-12-2014              0                 0     0        0  ...
              14-04-2015              0                 0     1        0  ...
              20-01-2015              0                 0     0        0  ...

                          turkey  vinegar  waffles  whipped/sour cream  \
Member_number Date
1000          15-03-2015       0        0        0                   0
              24-06-2014       0        0        0                   0
              24-07-2015       0        0        0                   0
              25-11-2015       0        0        0                   0
              27-05-2015       0        0        0                   0
1001          02-05-2015       0        0        0                   0
              07-02-2014       0        0        0                   0
              12-12-2014       0        0        0                   0
              14-04-2015       0        0        0                   0
              20-01-2015       0        0        0                   1

                          whisky  white bread  white wine  whole milk  yogurt  \
Member_number Date
1000          15-03-2015       0            0           0           1       1
              24-06-2014       0            0           0           1       0
              24-07-2015       0            0           0           0       0
              25-11-2015       0            0           0           0       0
              27-05-2015       0            0           0           0       0
1001          02-05-2015       0            0           0           0       0
              07-02-2014       0            0           0           1       0
              12-12-2014       0            0           0           1       0
              14-04-2015       0            1           0           0       0
              20-01-2015       0            0           0           0       0

                          zwieback
Member_number Date
1000          15-03-2015         0
              24-06-2014         0
              24-07-2015         0
              25-11-2015         0
              27-05-2015         0
1001          02-05-2015         0
              07-02-2014         0
              12-12-2014         0
              14-04-2015         0
              20-01-2015         0

[10 rows x 167 columns]

In [7]:
#пошук даних більше одиниці
list_of_ge2=[]
c=res['whole milk'].apply(lambda x:list_of_ge2.append(x) if x>=2 else 0)
len(list_of_ge2)

131

In [10]:
#заміна даних більше одиниці на значення 1
res[res>1]=1

In [16]:
res=res.astype(bool)
res

                          Instant food products  UHT-milk  abrasive cleaner  \
Member_number Date
1000          15-03-2015                  False     False             False
              24-06-2014                  False     False             False
              24-07-2015                  False     False             False
              25-11-2015                  False     False             False
              27-05-2015                  False     False             False
...                                         ...       ...               ...
4999          24-01-2015                  False     False             False
              26-12-2015                  False     False             False
5000          09-03-2014                  False     False             False
              10-02-2015                  False     False             False
              16-11-2014                  False     False             False

                          artif. sweetener  baby cosmetics   bags  \
Member_number Date
1000          15-03-2015             False           False  False
              24-06-2014             False           False  False
              24-07-2015             False           False  False
              25-11-2015             False           False  False
              27-05-2015             False           False  False
...                                    ...             ...    ...
4999          24-01-2015             False           False  False
              26-12-2015             False           False  False
5000          09-03-2014             False           False  False
              10-02-2015             False           False  False
              16-11-2014             False           False  False

                          baking powder  bathroom cleaner   beef  berries  \
Member_number Date
1000          15-03-2015          False             False  False    False
              24-06-2014          False             False  False    False
              24-07-2015          False             False  False    False
              25-11-2015          False             False  False    False
              27-05-2015          False             False  False    False
...                                 ...               ...    ...      ...
4999          24-01-2015          False             False  False     True
              26-12-2015          False             False  False    False
5000          09-03-2014          False             False  False    False
              10-02-2015          False             False  False    False
              16-11-2014          False             False  False    False

                          ...  turkey  vinegar  waffles  whipped/sour cream  \
Member_number Date        ...
1000          15-03-2015  ...   False    False    False               False
              24-06-2014  ...   False    False    False               False
              24-07-2015  ...   False    False    False               False
              25-11-2015  ...   False    False    False               False
              27-05-2015  ...   False    False    False               False
...                       ...     ...      ...      ...                 ...
4999          24-01-2015  ...   False    False    False               False
              26-12-2015  ...   False    False    False               False
5000          09-03-2014  ...   False    False    False               False
              10-02-2015  ...   False    False    False               False
              16-11-2014  ...   False    False    False               False

                          whisky  white bread  white wine  whole milk  yogurt  \
Member_number Date
1000          15-03-2015   False        False       False        True    True
              24-06-2014   False        False       False        True   False
              24-07-2015   False        False       False       False   False
              25-11-2015   False        False       False       False   False
              27-05-2015   False        False       False       False   False
...                          ...          ...         ...         ...     ...
4999          24-01-2015   False        False       False       False    True
              26-12-2015   False        False       False       False   False
5000          09-03-2014   False        False       False       False   False
              10-02-2015   False        False       False       False   False
              16-11-2014   False        False       False       False   False

                          zwieback
Member_number Date
1000          15-03-2015     False
              24-06-2014     False
              24-07-2015     False
              25-11-2015     False
              27-05-2015     False
...                            ...
4999          24-01-2015     False
              26-12-2015     False
5000          09-03-2014     False
              10-02-2015     False
              16-11-2014     False

[14963 rows x 167 columns]

In [29]:
support_df=apriori(res, min_support=0.001, use_colnames=True, verbose=1)
another_data=support_df
support_df.head(20)

Processing 28 combinations | Sampling itemset size 4e 3

     support                 itemsets
0   0.004010  (Instant food products)
1   0.021386               (UHT-milk)
2   0.001470       (abrasive cleaner)
3   0.001938       (artif. sweetener)
4   0.008087          (baking powder)
5   0.001136       (bathroom cleaner)
6   0.033950                   (beef)
7   0.021787                (berries)
8   0.016574              (beverages)
9   0.045312           (bottled beer)
10  0.060683          (bottled water)
11  0.002540                 (brandy)
12  0.037626            (brown bread)
13  0.035220                 (butter)
14  0.017577            (butter milk)
15  0.006148               (cake bar)
16  0.004411                (candles)
17  0.014369                  (candy)
18  0.046916            (canned beer)
19  0.007686            (canned fish)

In [35]:
support_df=support_df.sort_values(by='support', ascending=False)
support_df['length'] = support_df['itemsets'].apply(lambda x: len(x))
support_df=support_df[ (support_df['length'] > 1)]
support_df.head(30)

      support                            itemsets  length
625  0.014837      (other vegetables, whole milk)       2
677  0.013968            (whole milk, rolls/buns)       2
717  0.011629                  (whole milk, soda)       2
740  0.011161                (whole milk, yogurt)       2
609  0.010559      (other vegetables, rolls/buns)       2
616  0.009691            (other vegetables, soda)       2
701  0.008955               (sausage, whole milk)       2
730  0.008220        (tropical fruit, whole milk)       2
626  0.008087          (other vegetables, yogurt)       2
669  0.008087                  (soda, rolls/buns)       2
678  0.007819                (yogurt, rolls/buns)       2
688  0.007552       (root vegetables, whole milk)       2
390  0.007151          (whole milk, citrus fruit)       2
223  0.007151          (whole milk, bottled beer)       2
254  0.007151         (bottled water, whole milk)       2
649  0.006616             (pip fruit, whole milk)       2
638  0.006483                (pastry, whole milk)       2
707  0.006349         (whole milk, shopping bags)       2
621  0.006282  (tropical fruit, other vegetables)       2
673  0.006082        (tropical fruit, rolls/buns)       2
612  0.006015         (other vegetables, sausage)       2
332  0.006015           (canned beer, whole milk)       2
697  0.005948                     (sausage, soda)       2
718  0.005814                      (yogurt, soda)       2
702  0.005748                   (sausage, yogurt)       2
664  0.005748       (root vegetables, rolls/buns)       2
589  0.005614            (newspapers, whole milk)       2
241  0.005480   (other vegetables, bottled water)       2
714  0.005413              (tropical fruit, soda)       2
666  0.005347               (sausage, rolls/buns)       2

In [40]:
lift = association_rules(frq_items, metric ="lift", min_threshold = 0.01)
lift = lift.sort_values(['confidence', 'lift'], ascending =[False, False])
print(lift.head(20))

          antecedents         consequents  antecedent support  \
9            (yogurt)        (whole milk)            0.085879
5        (rolls/buns)        (whole milk)            0.110005
2  (other vegetables)        (whole milk)            0.122101
7              (soda)        (whole milk)            0.097106
1        (rolls/buns)  (other vegetables)            0.110005
3        (whole milk)  (other vegetables)            0.157923
4        (whole milk)        (rolls/buns)            0.157923
0  (other vegetables)        (rolls/buns)            0.122101
6        (whole milk)              (soda)            0.157923
8        (whole milk)            (yogurt)            0.157923

   consequent support   support  confidence      lift  leverage  conviction
9            0.157923  0.011161    0.129961  0.822940 -0.002401    0.967861
5            0.157923  0.013968    0.126974  0.804028 -0.003404    0.964550
2            0.157923  0.014837    0.121511  0.769430 -0.004446    0.958551
7            0.157923  0.011629    0.119752  0.758296 -0.003707    0.956636
1            0.122101  0.010559    0.095990  0.786154 -0.002872    0.971117
3            0.122101  0.014837    0.093948  0.769430 -0.004446    0.968928
4            0.110005  0.013968    0.088447  0.804028 -0.003404    0.976350
0            0.110005  0.010559    0.086481  0.786154 -0.002872    0.974249
6            0.097106  0.011629    0.073635  0.758296 -0.003707    0.974663
8            0.085879  0.011161    0.070673  0.822940 -0.002401    0.983638